.TopNav {
    border-bottom: 1px solid var(--main-color);
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TopNav p {
    font-weight: 900;
    color: var(--main-color);
    margin: 0;
}

/* تغليف زر اللغة وأيقونات السوشيال */
.SocialLinksWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* زر اللغة */
.lang-btn {
    border: 1px solid var(--main-color);
    background: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--main-color);
    cursor: pointer;
    transition: 0.3s;
}

.lang-btn:hover {
    background: var(--main-color);
    color: var(--light-color);
}

/* روابط السوشيال */
.SocialLinks {
    display: flex;
    gap: 15px;
    font-size: 20px;
}

.SocialLinks a {
    text-decoration: none;
    color: var(--main-color);
    transition: 0.5s;
}

.SocialLinks a:hover {
    color: var(--logo-color);
    transform: scale(1.2);
}

/* استجابة الأجهزة الصغيرة */
@media (max-width: 800px) {
    .TopNav {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    
    .SocialLinksWrapper {
        gap: 5px;
        flex-wrap: wrap;
    }
    .TopNav p {
        text-align: center;
    }
}
